#add-income-form
  %h3 Add Income

  = simple_form_for [@concert, @income], url: concert_incomes_path,remote: true do |f|
    = f.error_notification
    .form-inputs
      = f.association :income_category, collection: current_promoter.income_categories, required: true, autofocus: true, prompt: "Choose a Category"
      = f.input :name, required: true
      = f.input :expected_revenue, as: :integer
      = f.input :viewable_by_employee, as: :boolean
    .form-actions
      = f.button :submit, "Save"
      %button#cancel-income-form.cancel Cancel
