= render 'layouts/header'

#dashboard
  #left-column
    #this-weeks-concerts  
      #section-header
        %h3 This Week's Concerts
      #this-weeks-concerts-container.section-container
        = render 'concerts/upcoming'
    #concerts
      #section-header
        %h3 All Concerts
        =link_to "Add", new_concert_path, class: 'button', remote: true
      #concerts-container.section-container
        = render 'concerts/index'

  #right-column
    #employees
      #section-header
        %h3 Employees
        =link_to "Add", new_employee_invitation_path, class: 'button', remote: true
      #employees-container.section-container
        = render 'employees/invites'
        = render 'devise/invitations/new'

    #venues
      #section-header
        %h3 Venue
        =link_to "Add", new_venue_path, class: 'button', remote: true
      #venues-container.section-container
        = render 'venues/index'
        = render 'venues/form'

