%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      - if promoter_signed_in?
        %h1= link_to current_promoter.company, root_path
      - if employee_signed_in?
        %h1= link_to current_employee.name, root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"} Menu
  .top-bar-section
    %ul.right
      %li
        = link_to "Dashboard", root_path
      - if promoter_signed_in?
        %li
          = link_to "Sign Out", destroy_promoter_session_path, :method => :delete
      - if employee_signed_in?
        %li
          = link_to "Sign Out", destroy_employee_session_path, :method => :delete